<html>

<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

  <div id="app">
    <ol>

      <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
          <!-- v-for allows us to loop through grocery list array -->
          <!-- v-bind:todo pass in the item down to component and we pass the todo prop -->
          <!-- v-bind:key we need to give component a key and we pass the id -->
      </todo-item>
    </ol>
  </div>

  <script src="index.js"></script>

</body>

</html>
